
{% include "header.html" %}

<body>


        <DIV>
            <img src="/static/img/nicky.jpg" style="height: 150px">
            <H2>Nicky Ringland reached her weekly goal!</H2>
            <P>See her activity for the week</P>
            <SCRIPT src="/static/js/activityfeed2.js"></SCRIPT>
            <section id="activity_feed2" style="min-width: 310px; height: 400px; margin: 0 auto"></section>         
        </DIV>

        <DIV>
            <img src="/static/img/will.jpg" style="height: 150px">
            <H2>Will Cannings played quidditch!</H2>
                <P>See how he's tracking for this week.</P>
            <SCRIPT src="/static/js/activityfeed3.js"></SCRIPT>    
            <section id="activity_feed3" style="min-width: 310px; height: 400px; margin: 0 auto"></section>                        
        </DIV>
        
        <DIV>
            <img src="/static/img/james.jpeg" style="height: 150px">
            <H2>James Curran did pushups!</H2>
            <P>See how he's tracking for the week!</P>
            <SCRIPT src="/static/js/activitypushup.js"></SCRIPT> 
            <section id="pushup_activity" style="min-width: 310px; height: 400px; margin: 0 auto"></section>           
           
        </DIV>

</body>

{% include "footer.html" %}
