<html>
<head>
<style>
h2{color:red;}
.face{
width:40px;
height:40px;
background:black;
border-radius:1000px;
float:left;
}
article{
border:1px solid black;
width:400px;
}
time{
float:right;
}
</style>
</head>
<body>
<div class="face">
</div> 
<article>
  <time>11:04</time>
  <h2>Activity</h2>
  <p>Etiam luctus ipsum sed condimentum pharetra. In hac habitasse platea dictumst. Donec aliquam ex et velit cursus, id venenatis erat malesuada. Etiam sed lectus non libero placerat posuere. Quisque porttitor enim id tellus euismod placerat.</p>
</article>
</body>
</html>