
{% include "header.html" %}

<body>


        <DIV>
            <img src="/static/img/nicky.jpg" style="height: 150px">
            <H2>Nicky Ringland reached her weekly goal!</H2>
            <P>See her activity for the week</P>
        </DIV>

        <DIV>
            <img src="/static/img/will.jpg" style="height: 150px">
            <H2>Will Cannings went for a run!</H2>
                <P>See how he's tracking for this week.</P>
        </DIV>
        
        <DIV>
            <img src="/static/img/james.jpeg" style="height: 150px">
            <H2>James Curran played quiditch!</H2>
            <P>See how he's tracking for the week!</P>
            </DIV>
        </DIV>

</body>

{% include "footer.html" %}
