<!DOCTYPE html>
<HTML>
	<HEAD>
		<LINK href='https://fonts.googleapis.com/css?family=Josefin+Sans:700italic' rel='stylesheet' type='text/css'>
		<LINK rel="stylesheet" type="text/css" href="index_css.css">
        <LINK rel="stylesheet" type="text/css" href="/static/css/styles.css">
		<SCRIPT src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></SCRIPT>
		<SCRIPT src="https://code.highcharts.com/highcharts.js"></SCRIPT>
		<SCRIPT src="https://code.highcharts.com/modules/exporting.js"></SCRIPT>
		<LINK rel="shortcut icon" href="/static/img/footprinticon.png">
	</HEAD>
    <BODY>
		<HEADER>
		<ul>
		<li><IMG src="/static/img/footprintlogo.png" height="100"></li>
		<li><H1 style="font-family: 'Josefin Sans', sans-serif;">Footbook</H1></li>
		  <li><a class="active" href="#home">News Feed</a></li>
		  <li><a href="#news">News</a></li>
			<form id="tfnewsearch" method="get" action="http://www.google.com">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
			</form>
		<ul style="float:right;list-style-type:none;">
		  <li><a href="#contact">Input New Activity</a></li>
		  <li><a href="#contact">My Profile</a></li>
		  <li><a href="localhost:8888/login">Login</a></li>
		</ul>
		</HEADER>
    </BODY>
</html>
