<!DOCTYPE html>
{% ifexists html_class %}
	<html class="{{ html_class }}">
{% else %}
	<html>
{% endif %}
	<head>
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="reset.css">
		<link rel="stylesheet" type="text/css" href="/statis/css/index_css.css">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
		<SCRIPT src="//code.jquery.com/jquery-1.10.2.js"></SCRIPT>
		<SCRIPT src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></SCRIPT>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<link rel="shortcut icon" href="/static/img/footprinticon.png">
	</head>
	<body>
		<header>
			<img src="/static/img/footprintlogo.png">
			<nav>
				<form id="tfnewsearch" method="get" action="http://www.google.com">
					<input type="text" class="tftextinput" name="q" size="21" maxlength="120">
				</form>
				<a class="active" href="/home/">News Feed</a>
				<a href="/input/">Input Activity</a>
				<a href="/profile/">My Profile</a>
				<a href="/login/">Login</a>
			</nav>
		</header>
		<main>