<HTML>
	<HEAD>
	<link rel="stylesheet" type="text/css" href="index_css.css">
	</HEAD>

	<BODY>
		<HEADER>
			<IMG src="/static/img/icon.jpg" width="80" height="80" />
			<H1>Footbook</H1>
            <NAV>
            	<FORM action="/search">
                    <LABEL>
                        Search:
                        <INPUT type="text" name="username" />
                    </LABEL>
                    <BUTTON type="submit">Go</BUTTON>
                </FORM>
            	<A href="/login">Profile</A>
            	<A href="/about">Logout</A>
            </NAV>
		</HEADER>