<HTML>
	<HEAD>
	<link rel="stylesheet" type="text/css" href="index_css.css">
	</HEAD>

	<BODY>
		<HEADER>
			<IMG src="/static/img/icon.jpg" width="80" height="80" />
			<H1>Footbook</H1>
            <NAV>
            	<FORM action="/search">
                    <LABEL>
                        Search:
                        <INPUT type="text" name="username" />
                    </LABEL>
                    <BUTTON type="submit">Go</BUTTON>
                </FORM>
            	<A href="/login">Profile</A>
            	<A href="/about">Logout</A>
            </NAV>
		</HEADER>
		
		
		<script type="text/javascript" src="http://www.linkbuildingservices4sites.com/resources/slide-show.js"></script>  
		<div id="imageslideshow1"></div>
		<!--imgh.us-->
		<script type="text/javascript">  
		var mygallery=new fadeSlideShow({ 
		 wrapperid: "imageslideshow1", //ID of blank DIV on page to house Slideshow   
		 dimensions: [1500, 844], //width/height of gallery in pixels. Should reflect dimensions of largest image (www.2createawebsites.com)
		   imagearray:  [     
		   ["http://i.imgur.com/kdFu304.jpg"],      
		   ["http://i.imgur.com/kK1QpjK.jpg"],       
		   ["http://i.imgur.com/k89cUYQ.jpg"],      
		   ],
		  displaymode: {type:'auto', pause:2000, cycles:0, wraparound:false},   
		  persist: false, //remember last viewed slide and recall within same session?   
		  fadeduration: 1600, //transition duration (milliseconds)  
		  descreveal: "ondemand",
		  togglerid: ""
		  })
		 </script>  
		
	</BODY>

</HTML>
