<STYLE>
form {
    padding: 
}

#input_activity_form {
    text-align: center;
	padding: 20px;
}



</STYLE>

<UL>
{% for activity_name, activity in activities.items() %}
<P>{{activity_name}}, {{activity}}</P>
{% end for %}
    <LI></LI>
</UL>
<H1>Insert title here</H1>
<FORM action="input_activity.html">
    <FIELDSET>
	    <P id="input_activity_form">
		    <LABEL>Duration:</LABEL>
			<INPUT type="text" placeholder="minutes">
		</P>
		<P id="input_activity_form">
			<LABEL>Distance:</LABEL>
			<INPUT type="text" placeholder="metres">
		</P>
		<P id="input_activity_form">
			<LABEL>Count:</LABEL>
			<INPUT type="text" placeholder="amount">
		</P>
	</FIELDSET>
	<INPUT type="submit" value="submit">
</FORM>
