
{% include "header.html" %}
<link rel="stylesheet" type="text/css" href="styles.css">

<div id="login_form">

    <h1>Login</h1>  <!--header-->
    <form name="f1" method="post" action="/authenticate/" id="f1">
	<p>
        <label>Email: 
            <input type="text" name="email" value="" placeholder="username@email.com"/>
        </label>
    </p>
	<p>
        <label>Password: 
            <input type="password" name="password" value="" placeholder="Password" />
        </label>
    </p>
    <p><input type="submit" name="login" value="Log In" id = "button" /></p>
    </form>

</div>

{% include "footer.html" %}
