
    {% include "header.html" %}

        <DIV>
            <FIGURE>
                <IMG src="/static/img/profile_pic.jpg">
                <FIGCAPTION>
                    <H1>{{full_name}}</H1>
                </FIGCAPTION>
            </FIGURE>
        </DIV>
        
        <DIV>
            <H1>Personal Details</H1>
                <DL>
                    <DT>Email:</DT>
                    <DD>{{email}}</DD>
                    <DT>Full Name:</DT>
                    <DD>{{full_name}}</DD>
                </DL>
        </DIV>
        
        <DIV>
            <H2>Stats</H2>
            <H3>Past Activity</H3>
            <SCRIPT src="/static/js/landingtest.js"></SCRIPT><!-- change name of chart-->
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            <!-- graph of past activity - bar graph -->
            <H3>Activities</H3>
            <SCRIPT src="/static/js/pieactivitychart.js"></SCRIPT>
			<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            <!-- pie chart of activity type -->
            <DL>
                <DT>Total Activities Logged:</DT>
                <DD>{{total_activities}}</DD>
                <DT>Total Time:</DT>
                <DD>{{total_time}}</DD>
                
                {% if total_km_run != 0 %}
                <DT>Total Km's Run:</DT>
                <DD>{{total_km_run)}}</DD>
                {% end if %}
                
                {% if total_km_cycled != 0 %}
                <DT>Total Km's Cycled:</DT>
                <DD>{{total_km_cycled}}</DD>
                {% end if %}
                
                {% if total_km_swum != 0 %}
                <DT>Total Km's Swum:</DT>
                <DD>{{total_km_swum}}</DD>
                {% end if %}
                
                {% if total_km_walked != 0 %}
                <DT>Total Km's Walked:</DT>
                <DD>{{total_km_walked}}</DD>
                {% end if %}
                
                {% if total_pushups != 0 %}
                <DT>Total Pushups:</DT>
                <DD>{{total_pushups}}</DD>
                {% end if %}
                
                {% if total_situps != 0 %}
                <DT>Total Situps:</DT>
                <DD>{{total_situps}}</DD>
                {% end if %}
                
            </DL>
        </DIV>
        
        <DIV>
            <H2>Recent Activity</H2>
            <DIV>   <!-- this div repeats for multiple activities -->
                <H3>{{activity_type}} - {{}}</H3>
                <P>(Distance) and (Time) OR (count)</P>
            </DIV>
        </DIV>
        
    {% include "footer.html" %}

