{% include "header.html" %}
<style>
    * { box-sizing: border-box; }

.CSSTableGenerator {
<!--
	margin:0px;padding:0px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
										-->
	
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
	
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
	
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
	
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}.CSSTableGenerator table{
    border-collapse: collapse;
    border-spacing: 0;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#fff4ea; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #ff7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#ff7f00");	background: -o-linear-gradient(top,#ff7f00,ff7f00);

	background-color:#ff7f00;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

    span {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 6px;
        padding-right: 6px;
        vertical-align: top;
    }
    
    .one {
        border:10px solid black;
        border-top: 3px;
        border-bottom: 3px;
        border-left: 6px;
        border-right: 16px;
    }
    .two {
        border-top: 3px;
        border-bottom: 3px;
        border-left: 6px;
        border-right: 16px;
    }
    .three {
        border-top: 3px;
        border-bottom: 3px;
        border-left: 6px;
        border-right: 16px;
    }
	
	
	#friendstable img{
		height: 40px;
		width: 40px;
	}
	
	#friendstable {
	float:right;
	width: 350px;
	height: 350px;
	text-align:right;
	font-size: 2em;
	}
	
	#profilepic img {
	width: 100%;
	}
	
	#profilepic {
	float:left;
	height: 450px;
	width: 400px;
	}
    
	#graphdiv {
	  clear:both;
		}
		
</style>
	<div id="profilehead">
    <div >
					<table id="friendstable">
						<tr>
						<th colspan=5>Friends</th>
						</tr>
						<tr>
						<td><img src="https://en.gravatar.com/userimage/99536151/b385ab26a1b12bfda017c9afa4bdf9cd.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/0503f8e3cfab0f1026c87b4f7399b980.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/649c9279cc45d6b259350feb0fb71770.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/7bb9afe31fcb8c53a946346b2f9d6b1e.jpg?size=200"</td>
						<td><img src="https://en.gravatar.com/userimage/99536151/1476b93b8ba85972473813b424831e12.jpg?size=200" </td>
						</tr>
						<tr>
						<td><img src="https://en.gravatar.com/userimage/99536151/a2da14e006d508e8512993f3647a32a0.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/d3812dcd7e238e4885f1f92511fb77f9.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/5c9e7c8770bf91ef0e3e78de494ee1a1.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/56db2b8980a14007ae5b8219c3a44285.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/9657b7fb05d7b5239f30ecb8b50b9e79.jpg?size=200" </td>
						</tr>
						<tr>
						<td><img src="https://en.gravatar.com/userimage/99536151/97c3fbf82ef10fcb9c2b0891c2aa47db.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/11d5b7bf40bcd605b147721559b171f3.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/66a2b732ba550aca5e255054b9d2a4ba.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/9bd1d0dbe694579807f64c168032d55f.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/134641ade908ad9e9a9e7027ca49db8a.jpg?size=200" </td>
						</tr>
						<tr>
						<td><img src="https://en.gravatar.com/userimage/99536151/8fc18881a1731a4d14c4f4b594ff828a.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/84770c8a088bbf4e826bef3239163613.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/ac6f0a63d2824676384e8642cf2683f7.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/56c321df945f2b4c81c2230c1073ac47.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/72c52ffb6aef95cacd46f35e9872f91d.jpg?size=200" </td>
						</tr>
						<tr>
						<td><img src="https://en.gravatar.com/userimage/99536151/42c690d1e469882e301a4c2ce20df19c.jpg?size=200" </td>
						<td><img src="https://en.gravatar.com/userimage/99536151/25e16dd9d4f585b60fb1e272c154f7a8.jpg?size=200" </td>

						</tr>
					</table>
						
				</div>
        
        <DIV id="profilepic">
            <FIGURE>
                <IMG src="{{pic_url}}">
                <FIGCAPTION>
                    <H1 id="profile_title">{{full_name}} - {{email}}</H1>
                </FIGCAPTION>
            </FIGURE>
        </DIV>
				
			</div>
        <DIV id="graphdiv">
            <H2>Stats</H2>
            <SCRIPT src="/static/js/landingtest.js"></SCRIPT>
            <div id="linecontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <!-- graph of past activity - bar graph -->
        </DIV>
        
        <DIV>
            <H2>Recent Activity</H2>
            <DIV class="CSSTableGenerator">   
                <TABLE class="clear-user-agent-styles">
                
                        <!-- TR Table Row -->
                        <TR>
                            <TD>Activity</TD>
                            <TD>Time</TD>
                            <TD>Amount</TD>
                        </TR>
                
                        {% for activity_type in activities %}
						    {% for activity in activity_type %}
								<!-- TR Table Row -->
								<TR>
									<TD class="activity-td">{{activity[0]}}</TD>
									<TD class="activity-td">{{activity[1]}}</TD>
									<TD class="activity-td">{{activity[2]}}</TD>
								</TR>
						    {% end for %}
                        {% end for %}
                </TABLE>
            </DIV>
        </DIV>
        
    {% include "footer.html" %}

