
{% include "header.html" %}


<h1>Register</h1>
<p>Simply enter your details below to begin using Footbook, and begin a new healthier life. 
	Footbook provides you with the motivation you need to improve your lifestyle by connecting you with friends that share your passion for fitness. 
	Together, we can all embrace technology to change the world one step at a time.</p>
<form id="form" action="/newuser/" method="POST">
    <p>
        <label>Email: 
            <input type="email" id="email-input" name="email" value="" placeholder="name@email.com" required/>
        </label>
    </p>
    
    <p>
        <label>Password: 
            <input type="password" id="password-input" name="password" value="" placeholder="password" required/>
        </label>
    </p>
    
    <p>
        <label>
            Name: 
            <input type="text" name="name" value="" placeholder="full name" required/>
        </label>
    </p>
    
    <p>
        <label>
            I accept the terms and conditions
            <input type="checkbox" name="termsconditions" value="accept" required/>
        </label>
    </p>
    <p>
        <input type="submit" name="sign up" value="Sign Up" style="font-size:18px;" id = "button" required/>
    </p>
</form>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {	
    $('#form').validate({ // initialize the plugin
        rules: {
			email-input: {
                required: true,
                email: true
            },
            password-input: {
                required: true,
            }
        }
    });
});
</script>


{% include "footer.html" %}
