<HTML>
	<HEAD>
	<title>Footbook</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	</HEAD>

	<BODY>
	<ul>
	<li><a class="active" href="#home">Home</a></li>
	<li>
	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="http://www.google.com">
		        <input type="text" class="tftextinput" name="q" size="38" maxlength="120"><input type="submit" value="Search" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div></li>
	<li><a href="#contact">Add activity</a></li>
	<li><a href="#about">Profile</a></li>
	</ul>
	
		<HEADER>
			<IMG src="/static/img/icon.jpg" width="40" height="40" />
			<H1>Footbook</H1>
            <NAV>
            	<FORM action="/search">
                    <LABEL>
                        Search:
                        <INPUT type="text" name="username" />
                    </LABEL>
                    <BUTTON type="submit">Go</BUTTON>
                </FORM>
            	<A href="/login">Profile</A>
            	<A href="/about">Logout</A>
            </NAV>
		</HEADER>
	</BODY>

</HTML>
