<body>
<style>
label{
float:left;
width:100px;
}

form div {
	margin: 16px;
}

form {
	width: 400px;
}

#submit {
	float: right;
}

</style>

<form>
<div>
<label>Email</label>
<input type="email" name="email"  placeholder = "me@footbook.com" required /> 
</div>

<div>
<label>Full Name</label>
<input type="text" name="full_name"  placeholder = "Full Name" required /> 
</div>

<div>
<label>About</label>
<textarea rows="5%" cols = "30" placeholder = "Enter About"></textarea>
</div>

<div>
<label>Password</label>
<input type="password" name="password" required /> 
</div>

<input id = "submit" type = "submit"/>
</form>
</body>